#content{
	.chat-box{
		padding-bottom: 5rem;
		height: 100%;
		
		.chat{
			height: 100%;
			margin-right: $filter-theme-width;
			overflow-y: scroll;
			// padding-bottom: 5rem;
		}
	}

	.emoji-popup{
		position: absolute;
		margin-top: -7rem;

		a{
			cursor: pointer;
		}
	}
	.message-scroll-container{
		overflow-x: hidden;
	}
	.message-wrapper {
		width: 100%;

		&,
		.right, .left,
		.message,
		.image{
			display: inline-block;
		}

		&:last-child .message-block{
			padding-bottom: 2rem;
		}

		.message-block{
			width: 100%;

		}
		.message-container{
			max-width: 82%;

			.bubble-icon{
				position: absolute;
				font-size: 20px;
				margin: 0;
				bottom: 0px;
				right: -3px;
				z-index: 8;

				.path2:before{
					color: map-get($colors,light-gray);
				}

				&.left{
					left: -3px;
					top: 0px;
				}
			}
		}
		.text-container{
			position: relative;
		}

		.user-name{
			margin: 0 25px;
			@extend %first-capital;
		}

		.message{
			margin: 0;
			min-height: 5rem;
			min-width: 7rem;
			border: 2px solid map-get($colors,light-gray);
			box-shadow: none;
			@include valign-container;

			&.right{
				margin-right: 24px;
			}
			&.left{
				margin-left: 24px;
			}

			p{
				margin: 0;
				padding: 0 $gutter*2;
			}
		}

		.image{
			width: 5rem;
			height: 5rem;
			margin-top: 1.5rem;
		}
	}

	.chat-input{
		position: relative;
		bottom: 5rem;
		margin-right: $filter-theme-width;
		display: block;

		.insert-emo i{
			color: #252525;
			position: absolute;
			padding: 0 20px;
			height: 54px;
			line-height: 54px;
			opacity: .7;
			cursor: pointer;

			@include media($medium-screen-up) {
				height: 64px;
				line-height: 64px;
			}			
		}

		.input-field{
			border: 2px solid transparent;
			
			#message-text{
				margin: 0;
				color: #636363;
			}

			label.active{
				& ~ .material-icons{
					color:#444;
				}
				.material-icons{
					color:#444;
				}
			}

			.send{
				color: white;
			}
		}
	}
}