#chat-settings {
	.card-content {
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 24px;

		&>p{
			font-size: map-get($font, medium);
		}
	}

	.solid-block{
		height: 50px;
	}

	.text-block-center{
		height: 50px;
		line-height: 50px;
	}

	#editChatNameInput{
		width: 300px;
		position: absolute;
		right: 24px;
		opacity: 0;
		&{
			@include transition(all .5s ease-out);
		}

		&.edit{
			opacity: 1;
			a:last-child i{
				@include transform(rotate(90deg));
			}
		}

		i{
			@include transition(all .3s ease-out);
		}

		.buttons{
			display: inline-block;
			margin-top: 5px;
		}

		input{
			width: 70%;
		}
	}

	#editChatName{
		opacity: 1;
		&,p {
			@include transition(all .5s ease-out);
		}
		&.edit{
			opacity: 0;

			p{
				margin-left: -257px;
			}
			i{
				font-size: 10px;
				@include transform(rotate(90deg));
			}
		}

		i{
			@include transition(all .3s ease-out);
		}

		p{
			margin-right: $gutter;
		}

		a{
			margin-right: 3px;
		}
	}

	// member & themes
	.header 
	{	
		height: 50px;
		border-bottom: 1px solid map-get($colors, red);
		margin-bottom: $gutter;		
		p{
			height: 50px;
			line-height: 50px;
			margin-left: .9rem;
			color: map-get($colors, red);
			font-size: map-get($font, medium);

			&:last-child{
				margin-right: 8px;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}

	.actions{
		display: inline-block;
		height: 50px;

		.usage{
			margin-right: $gutter*2;
		}

		.checkbox {
			height: 50px;
			margin: 0 $gutter*2;
			label{
				padding-left: 20px;
				height: 20px;
			}
		}

		.delete{
			width: 20px;
			cursor: pointer;
			margin: 0 $gutter*2;

			i{
				padding: 0;
				margin-left: -5px;
			}
		}
	}

	.theme-settings{

		.theme-info{
			height: 50px;
			display: inline-block;

			p{
				vertical-align: top;
				height: 50px;
				line-height: 50px;
				margin-left: $gutter;
				@extend %first-capital;
			}
		}

	}
}