#bubble #chat-settings {
	.settings-layout{
		overflow-x:  hidden;
	}
	.btn{
		@include media($medium-screen-up) {
			@include vertical-align;
		}	
	}
	.card-content {
		padding-bottom: 0;
		padding-top: 0;
		margin-top: 24px;

		
		// scrollbar
	    @media screen and (-webkit-min-device-pixel-ratio:0) {  
			padding-right: 16px;
	    }
		@supports (-ms-ime-align:auto) {
			padding-right: 24px;
		}

		&>p{
			font-size: map-get($font, medium);
		}
		
		&.solid-block{
			height: auto;
			@include media($medium-screen-up) {
				height: 50px;
			}

			.right{
				float: none !important;
				margin: auto;
				display: block;
				@include media($medium-screen-up) {
					float: right !important;
					display: inline-block;
				}
			}
		}
		&>.text-block-center:first-child{
			display: block;
			float: none;
			text-align: center;

			@include media($medium-screen-up) {
				text-align: left;
				float: left;
				height: 50px;
				line-height: 50px;
			}	
		}
		.bubble-editName{
			margin-right: .65rem;	
		}	

		@include media($medium-screen-down) {
			.bubble-editName {
				text-align: center;
				display: block;
				margin-right: -9px;
				width: 103%;
			
				&.edit {
					a.bubble-editButton {
						margin-right: 0;
					}

					p{
						width: calc(100% - 76px) !important;
						margin-left: 0;
					}
				}

				p{
					@include transition(width .5s ease-out);
					float: none;
					text-align: left;
					display: inline-block;
				}
			}
			.bubble-editInput{
				right: auto;
				left: auto;
				text-align: center;
				width: calc(100% - 30px);

				&.edit input{
					width: calc(100% - 110px);
				}
				input{
					@include transition(width .5s ease-out);
					width: 0;
				}
			}
		}
	}

	.solid-block{
		height: 50px;
	}

	.text-block-center{
		height: 50px;
		line-height: 50px;
	}

	.settings-btn{
		width: 13rem;
	}

	// member & themes
	.header 
	{	
		height: 50px;
		border-bottom: 1px solid map-get($colors, red);
		margin-bottom: $gutter;		
		p{
			height: 50px;
			line-height: 50px;
			margin-left: .9rem;
			color: map-get($colors, red);
			font-size: map-get($font, medium);

			&:last-child{
				margin-right: 8px;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}

	.actions{
		display: inline-block;
		height: 50px;

		.usage{
			margin-right: $gutter*2;
		}

		.checkbox {
			height: 50px;
			margin: 0 $gutter*2;
			label{
				padding-left: 20px;
				height: 20px;
			}
		}

		.delete{
			width: 20px;
			cursor: pointer;
			margin: 0 $gutter*2;

			i{
				padding: 0;
				margin-left: -5px;
			}
		}
	}

	.theme-settings{

		.theme-info{
			height: 50px;
			display: inline-block;

			p{
				vertical-align: top;
				height: 50px;
				line-height: 50px;
				margin-left: $gutter;
				@extend %first-capital;
			}
		}

	}
}