.fullscreen-loader{
	z-index: 2000;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: white;
	text-align: center;
	top: 0;
	left: 0;
	
	svg{
		max-width: 100vw;
	}
	
	.v-align{
		height: 283px;
	}
	
	.loading-sentance{
		margin-bottom: 60px;
		font-size: map-get($font, big);
	}
}