#bubble{
	.no-button-container{
		height: 40px;
		position: relative;
		
		.btn-floating{
			display: block;
		}
	}

	.no-button{
		&, &:before, &:after{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			z-index: 50;
		}
	}
}