.friend-item{
	height: 50px;
	cursor: pointer;

	&.active .friend-name{
		color: map-get($colors, red);
		padding-left: 2rem;

		&:before{
			opacity: 1;
		}
	}

	.friend-name{
		@include transition(padding-left .3s ease-in-out);
		display: inline-block;
		margin: 0;
		line-height: 50px;
		max-width: 90%;
		padding-left: $gutter;
		@extend %first-capital;

		&:before{
			@include transition(opacity .1s ease-in-out .1s);
			opacity: 0;
			font-family: 'Bubble-icons' !important;
			color: map-get($colors, red);
			opacity: 0;
			speak: none;
			font-size: 20px;
			margin-top: 15px;
			left: .6rem;
			position: absolute;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			content: "\3d";
		}
	}
}

.online-state{
	width: 12px;
	height: 12px;
	border-radius: 20px;
	float: right;
	margin-right: $gutter*2;
	
	&.online{
		background-color: map-get($colors, light-green);
	}

	&.offline{
    	border: 2px solid gray;
	}
}

.unread-messages{
	display: inline-block;
	line-height: 21px;
	text-align: center;
	background-color:  map-get($colors, notification-red);
	margin-left: $gutter;
	vertical-align: top;
	color: white;
	min-width: 20px;
	padding: 0 4px 0 5px;
	height: 20px;
	border-radius: 20px;
}

#friends,#groups{
	.friends{
		height: calc(100% - 125px);
		overflow:hidden;
		overflow-y: scroll;
		z-index: 21;
		position: relative;

		ul:first-of-type{
			margin:0;
		}
	}
	
	.button-close-nav{
		padding: 0;
	}
	

	.request{
		li{
			padding-bottom: 1rem;
			margin-bottom: 0;
			animation: request 1.5s;
			overflow: hidden;
			
			@include animation('open-request 1s 1');
			@include keyframes(open-request) {
			  0%   { max-height: 0px; opacity: 0; }
			  100% { max-height: 170px;  opacity: 1;}
			}
		}

		.request-head{
			height: 50px;

			.bubble-icon{
				&.friend{
					margin-top: 12px;
				}

				&.group{
					font-size: 35px;
				}
			}

			p{
				font-weight: 500;
				vertical-align: top;
				margin: 0;
				margin-left: 15px;
			}

		}

		.groupname{
			margin: 0;
			margin-left: 1rem;
			max-width: 90%;
			font-weight: 500;
			font-size: map-get($font, medium);

			@extend %first-capital;
		}

		.buttons{
			text-align: center;

			a{
				width: 45%;
				margin: 0;
				display: inline-block;

				&:first-child{
					margin-right: 1rem;
				}
			}
		}
	}

	.bottom{
		position: absolute;
		width: 100%;
		z-index: 22;
		top: calc(100% - 200px);
		height: 13rem;
		overflow: hidden;
		overflow-y: hidden;
		// height: 100%;
		@include transition(top .8s ease-in-out, height .8s ease-in-out, z-index .8s ease-in-out);

		&.full{
			z-index: 50;
			height: calc(100% - 105px);
			top: 105px;

			@media only screen and (min-width: 600px){
				height: calc(100% - 115px);
				top: 115px;
			}

			.search-new-friends{
				margin-top: 10px;
				height: 64px;
			}

			.collection{
				opacity: 1;
			}
		}

		h2{
			font-size: map-get($font,medium);
			border-bottom: 1px solid map-get($colors, light-gray);
		}

		.collection{
			opacity:  0;
			@include transition(opacity .8s ease-in-out);
 
			.collection-item{
				display: inline-block;
				padding: 0;
				padding-left: 20px;
				width: 100%;
				float: left;
			}

			.name{
				float: left;
			}

			a{
				float: right;
				padding: 0 0 0 $gutter;
				margin-right: 0.75rem;

				&:hover{
					background-color: transparent;
				}

				i{
					margin: auto;
				}
			}
		}

		.search-new-friends{
			margin-top: -80px;
			height: 0;
			padding-top: 10px;
			@include transition(margin-top .4s ease-in-out .7s, height 0s ease-in-out .7s);

			&.remove{
				@include transition(margin-top .4s ease-in-out .2s, height .3s ease-in-out .2s);
			}
		}

		.white{
			height: 100%;
		}

		.btn{
			margin: 10px 0;
		}


		.add-friend{
			@include transition(all .8s ease-in-out, line-height .4s);
			padding: 0 35%;
			text-align: left;

			@media only screen and (max-width: 373px ){
				padding: 0 31%;
			}

			&.create-group{
				padding: 0 40%;
				@include media($large-screen-up) {
				    padding: 0 35%;
				}				
			}

			&.button-header{
				color: black;
				cursor: auto;
				background-color: white;
				font-size: map-get($font, big);
				font-weight: 500;
				height: 54px;
			    line-height: 54px;
				padding: 0 $gutter;
				margin: 0 -.75rem 10px -.75rem;

				i{
					opacity: 1;
					cursor: pointer;
					padding-right: 20px;
					margin-right: 16px;
					pointer-events: auto;
					height: 100%;
				}
			}
			
			&.delayed-properties{
				text-transform: none;
			}

			i{
				opacity: 0;
				pointer-events: none;
				height: 0;
				width: 0;
				color: black;
				float: right;
				@include transition(all .3s ease-in-out);
			}
		}

		.search-friends{
			transition: margin-top .8s ease-in-out;
			z-index: 0;
		}

		.close-search{
			font-size: 20px;
			padding-right: 2px;
		}

		.newGroupFriends{
    		border-width: 1px !important;

			&:not(:first-of-type){
				margin-top: -1px;
			}
		}

		.submit-group-form{
			height: 48px;
			margin-bottom: 1.3rem;
			font-weight: 500;
		}

		#createGroupForm{
			height: calc(100% - 196px);
			overflow-y: scroll;
			margin-right: -7px;
			display: flex;
			flex-direction: column;

			ul{
				overflow-y: scroll;
				display: table;
				width: 100%;

				li {
					display: table-cell;
				}
			}

			.createGroupBottom {
				margin-top: auto;
				width: 100%;
				align-self: flex-end;
			}

		}
	}
}