#friends,#groups{
	.friends{
		height: 80%;
		overflow:hidden;
		overflow-y: scroll;
		z-index: -20;
		transition: height .8s ease-in-out;

		&.minimized{
			height: 0;
		}
	}

	.online-state{
		width: 12px;
		height: 12px;
		border-radius: 20px;
		float: right;
		
		&.online{
			background-color: green;
		}

		&.offline{
			background-color: gray;
		}
	}

	.unread-messages{
		display: inline-block;
		line-height: 1.5em;
		text-align: center;
		background-color: red;
		color: white;
		width: 20px;
		height: 20px;
		border-radius: 20px;
	}


	.request{
		li{
			padding-bottom: 1rem;
			margin-bottom: 0;
			animation: request 1.5s;
			overflow: hidden;
			
			@include animation('open-request 1s 1');
			@include keyframes(open-request) {
			  0%   { max-height: 0px; opacity: 0; }
			  100% { max-height: 170px;  opacity: 1;}
			}
		}

		.request-head{
			height: 50px;

			.bubble-icon{
				&.friend{
					margin-top: 12px;
				}

				&.group{
					font-size: 35px;
				}
			}

			p{
				font-weight: 500;
				vertical-align: top;
				margin: 0;
				margin-left: 15px;
			}

		}

		.groupname{
			margin: 0;
			margin-left: 1rem;
			font-weight: 500;
			font-size: map-get($font, medium);

			@extend %first-capital;
		}

		.buttons{
			text-align: center;

			a{
				width: 45%;
				margin: 0;
				display: inline-block;

				&:first-child{
					margin-right: 1rem;
				}
			}
		}
	}

	.bottom{
		position: absolute;
		background-color: white;
		bottom: 0;
		height: 13rem;
		padding-top: 0;
		overflow: hidden;
		overflow-y: hidden;
		transition: height .8s ease-in-out, top .8s ease-in-out, padding-top .8s ease-in-out;

		&.full{
			height: 100%;
			padding-top: 143px;
		}

		.search-friends{
			transition: margin-top .8s ease-in-out;
			z-index: 0;
		}

		.search-new-friends{
			margin-top: 10px;
		}
	}
}