$profile-size: 9rem;
#bubble #profile{
	.img-container{
		margin: 4vw auto; 
		// margin-top: 4vw;
		width: $profile-size;
		height: $profile-size;

	}
	.img-overflow{
		width: $profile-size;
		height: $profile-size;
		cursor: pointer;
		
		.edit-overlay{
			position: absolute;
			min-width: $profile-size;
			height: $profile-size;
		}
		
		#profilepicUpload{
			display: none;
		}
		
		&:hover{
			.edit-overlay{
				background-color: rgba(72, 72, 72, 0.53);
				border-radius: 50%;
				opacity: 1;
				z-index: 5;
				text-align: center;

				.edit-text{
					margin:0;
					vertical-align: top;
					margin-right: $gutter/2;
				}
				
				.edit-text,i{
					display: inline-block;
					font-size: map-get($font, medium);
					color: white;
				}
			}
		}
	}

	.btn{
		height: 40px;
		padding: 0;
		margin: 0;
		display: inline-block;
	}
	.buttons{
		margin: 0;
	}

	.solid-block{
		height: 60px;

		p{
			margin: 0;
			margin-top: -3px;
		}
	}
	.bubble-editName{
		width: 100%;
	}
	.username {
		border-bottom: 2px solid map-get($colors, light-gray);
	}
	.bubble-editInput{
		right: 0;
		padding-left: $gutter;
		width: 100%;

		input{
			padding-top: 5px;
		}
	}
}