$profile-size: 9rem;
#bubble #profile{
	.img-container{
		margin: 4vw auto; 
		// margin-top: 4vw;
		width: $profile-size;
		height: $profile-size;

	}
	.img-overflow{
		width: $profile-size;
		height: $profile-size;
		cursor: pointer;
		
		.edit-overlay{
			position: absolute;
			min-width: $profile-size;
			height: $profile-size;
		}
		
		#profilepicUpload{
			display: none;
		}
		
		&:hover{
			.edit-overlay{
				background-color: red;
				border-radius: 50%;
				opacity: 0.5;
			}
		}
	}

	.btn{
		height: 40px;
		padding: 0;
		margin: 0;
		display: inline-block;
	}
	.buttons{
		margin: 0;
	}
	.solid-block{
		height: 50px;

		p{
			margin: 0;
			margin-top: -3px;
		}
	}
	.bubble-editName{
		width: 100%;
	}
	.bubble-editInput{
		right: 0;
		padding-left: $gutter;
		width: 100%;
	}
}