#sidebar {
	width: $sidebar-width-mobile;

	@include media($small-screen-up) {
		width: $sidebar-width;
	}	

	.sidebar {
		height: 100%;
		float: left;
		width: 100%;
		overflow-y: hidden;

		header {
			position: absolute;
			z-index: 100;
			width: 100%;

			.profile-info {
				padding: 1.5rem 0rem;
				color: white;

				.user-info{
					margin-left: 8.2rem;
				}
				.bubble-username {
					display: block;
					font-size: $font-large;
					margin-bottom: 0;
					margin-top: 1.1rem;
					max-width: 40vw;
				}
				.bubble-email {
					display: block;
					font-size: $font-medium;
					margin-top: 8px;
					max-width: 40vw;
				}
				.img-overflow{
					margin-left: $gutter;
				}
			}

			nav {
				div:not(.indicator), ul {
					height: 100%;

					.tab {
						width: 25%;

						a.active i {
							color: #fff !important;
						}
						.profile:before{
							font-size: 28px;
						}
						.group:before {
							font-size: 32px;
						}
						a{
							text-align: center;
						}
						i{
							padding:0;
						    display: inline-table;
						    margin: auto;
						    float: none !important;
						}
						.countRequest{
							background-color: map-get($colors, notification-red);
							padding: 0 6px;
							color: white;
						    border: 2px solid #e53935;
							border-radius: 50%;
							min-width: 20px;
							height: 23px;
							line-height: 20px;
							display: inline-block;
							margin-top: 16px;
							margin-left: -16px;
						}
					}
				}
			}
		}

		.side-nav-content{
			height: 100%;
			width: 100%;
			padding-top: 13.3rem;
			float: left;

			.tab-item{
				display: inline-block;
				height: 100%;
			}

		}
	}
}