@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* // Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
 */

#bubble .first-letter-capital::first-letter,
#Alerts .alertbox.open li p::first-letter,
#content .message-wrapper .user-name::first-letter,
#bubble #chat-settings .theme-settings .theme-info p::first-letter,
#themes h2::first-letter,
.friend-item .friend-name::first-letter,
#friends .request .groupname::first-letter,
#groups .request .groupname::first-letter {
  text-transform: uppercase;
}

#bubble .top-gutter-double {
  padding-top: 1.5rem;
}

#bubble .bottom-gutter-double {
  padding-bottom: 1.5rem;
}

#bubble .top-gutter-double-margin {
  margin-top: 1.5rem;
}

#bubble .no-margin-top {
  margin-top: 0 !important;
}

#bubble .inline-block {
  display: inline-block;
}

#bubble .invisible {
  opacity: 0;
}

#bubble .v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#bubble .no-animation {
  -webkit-transition: none;
  transition: none;
}

#Alerts {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -2;
}

#Alerts.open {
  z-index: 1000;
}

#Alerts .alertbox {
  opacity: 0;
  height: 0;
  display: none;
}

#Alerts .alertbox.open {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.32);
  text-align: center;
}

#Alerts .alertbox.open .modal-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
  display: inline-block;
}

@media screen and (min-width: 47.9375em) {
  #Alerts .alertbox.open .modal-content {
    width: 40% !important;
  }
}

@media screen and (min-width: 25.9375em) {
  #Alerts .alertbox.open .modal-content {
    width: 70%;
  }
}

#Alerts .alertbox.open .alert-header {
  font-size: 18px;
  padding: 2.25rem;
  margin: 0;
  border-bottom: 2px solid #d4d4d4;
}

#Alerts .alertbox.open .alert-icon i {
  font-size: 80px;
  margin-top: 30px;
}

#Alerts .alertbox.open li {
  display: inline-block;
  width: 100%;
  padding: 0.375rem 2.25rem;
}

#Alerts .alertbox.open li p {
  display: inline-block;
  line-height: 33px;
  margin: 0;
  float: left;
}

#Alerts .alertbox.open li i {
  background-color: #26a69a;
  color: white;
  border-radius: 2px;
  padding: .3rem;
}

#Alerts .alertbox.open .btn {
  margin: 2.25rem 0;
  width: 10rem;
}

#Alerts .alertbox.open .btn:first-of-type {
  margin-right: 0.75rem;
}

#Alerts .alertbox.open .solo-btn {
  width: 13rem;
}

#Alerts .alertbox.open .close {
  position: absolute;
  top: 11px;
  right: 30px;
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

#bubble .img-overflow {
  overflow: hidden;
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 auto;
  position: absolute;
}

#bubble .img-overflow .profile-pic,
#bubble .img-overflow .friend-pic {
  min-width: 100%;
  height: 105%;
  position: absolute;
  margin: auto;
  display: block;
  bottom: -9999px;
  left: -9999px;
  top: -9999px;
  right: -9999px;
}

#bubble .img-container {
  position: relative;
  display: inline-block;
  float: left;
  width: 5rem;
  height: 5rem;
}

#bubble .no-button-container {
  height: 40px;
  position: relative;
}

#bubble .no-button-container .btn-floating {
  display: block;
}

#bubble .no-button,
#bubble .no-button:before,
#bubble .no-button:after {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 50;
}

.fullscreen-loader {
  z-index: 2000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  text-align: center;
  top: 0;
  left: 0;
}

.fullscreen-loader svg {
  max-width: 90vw;
  margin: auto;
}

.fullscreen-loader .v-align {
  height: 283px;
}

.fullscreen-loader .loading-sentance {
  margin-bottom: 60px;
  font-size: 20px;
}

@font-face {
  font-family: bubble-icons;
  src: url("/fonts/Bubble-icons.eot");
  src: url("/fonts/Bubble-icons.eot?7wgp1p#iefix") format("embedded-opentype"), url("/fonts/Bubble-icons.tff?7wgp1p") format("ttf"), url("/fonts/Bubble-icons.woff?7wgp1p") format("woff"), url("/fonts/Bubble-icons.svg?7wgp1p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

i.bubble-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Bubble-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bubble-icon {
  font-size: 25px;
  display: inline-block;
}

.bubble-icon.background {
  font-size: 42px;
  cursor: default;
}

.bubble-icon.background i {
  position: absolute;
  margin-left: -32.5px;
  margin-top: 9px;
}

.bubble-icon.logout:before {
  content: "<";
}

.bubble-icon.profile:before {
  content: "O";
}

.bubble-icon.arrow:before {
  content: "=";
}

.bubble-icon.alert:before {
  content: "!";
}

.bubble-icon.question:before {
  content: "?";
}

.bubble-icon.cross:before {
  content: "\1F5F4";
}

.bubble-icon.triangle .path1:before {
  content: "-";
  color: white;
}

.bubble-icon.triangle .path2:before {
  content: ".";
  margin-left: -1.4208984375em;
  color: black;
}

.bubble-icon.triangle-you .path1:before {
  content: "+";
  color: white;
}

.bubble-icon.triangle-you .path2:before {
  content: ",";
  margin-left: -1.4169921875em;
  color: black;
}

.bubble-icon.no-content:before {
  content: "\1F5EB";
  color: #ececec;
}

.bubble-icon.smiley:before {
  content: "\1F31E";
}

.bubble-icon.key:before {
  cursor: default;
  content: "\1F3F4";
}

.bubble-icon.friend:before {
  content: "\1F5E9";
}

.bubble-icon.group:before {
  content: "\1F5EA";
}

#bubble .btn.ns {
  height: 40px;
  line-height: 40px;
}

#bubble input[type=search]:focus {
  border-bottom: 1px solid #9e9e9e;
}

#bubble input[type=search] ~ .material-icons {
  font-size: 20px;
  margin-top: 10px;
}

#bubble .bubble-editInput {
  width: 300px;
  position: absolute;
  right: 24px;
  opacity: 0;
}

#bubble .bubble-editInput {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#bubble .bubble-editInput.edit {
  opacity: 1;
}

#bubble .bubble-editInput.edit a:last-child i {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#bubble .bubble-editInput i {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#bubble .bubble-editInput .buttons {
  display: inline-block;
  margin-top: 5px;
  height: 40px;
}

#bubble .bubble-editInput input {
  width: 70%;
}

#bubble .bubble-editName {
  opacity: 1;
}

#bubble .bubble-editName,
#bubble .bubble-editName p {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#bubble .bubble-editName.edit {
  opacity: 0;
}

#bubble .bubble-editName.edit p {
  margin-left: -257px;
}

#bubble .bubble-editName.edit i {
  font-size: 10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#bubble .bubble-editName i {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#bubble .bubble-editName p {
  margin-right: 0.75rem;
}

#bubble .bubble-editName a {
  margin-right: 3px;
}

.scolling::-webkit-scrollbar {
  width: 8px !important;
}

.scolling::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 8px;
  background-color: rgba(224, 220, 220, 0.51);
}

.scolling::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: none;
  background-color: rgba(70, 70, 70, 0.51);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scolling .online-state {
    margin-right: 1rem !important;
  }

  .scolling .buttons {
    padding-right: .2rem;
  }
}

@supports (-ms-ime-align: auto) {
  .scolling .online-state {
    margin-right: 1.5rem !important;
  }

  .scolling .buttons {
    padding-right: 0.75rem;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  box-shadow: none;
  border-radius: 8px;
  background-color: rgba(224, 220, 220, 0.51);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: red;
  box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  box-shadow: none;
  background-color: rgba(70, 70, 70, 0.51);
}

.emoji-popup,
a,
input,
i,
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#tutorial {
  display: none;
}

@media screen and (min-width: 64.0625em) {
  #tutorial {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  #tutorial .tutorial-screen {
    z-index: 1001;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 99999px rgba(255, 255, 255, 0.85);
  }

  #tutorial .tutorial-screen.step2 {
    top: 134px;
    height: 57px;
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .tutorial-screen.step2 {
    top: 140px;
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial .tutorial-screen.step3 {
    top: 196px;
    height: 57px;
    box-shadow: 400px -351vh 0 396vh rgba(255, 255, 255, 0.85);
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .tutorial-screen.step3 {
    top: 201px;
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial .tutorial-screen.step4 {
    height: 370px;
    width: 100%;
  }

  #tutorial .tutorial-screen.step5 {
    height: 100px;
    top: auto;
    bottom: 0;
    width: 100%;
  }

  #tutorial .tutorial-div {
    z-index: 1002;
    position: absolute;
  }

  #tutorial .tutorial-div h2 {
    font-size: 20px;
  }

  #tutorial .tutorial-text {
    display: inline-block;
    padding: 0 0.75rem;
  }

  #tutorial .step-2,
  #tutorial .step-3,
  #tutorial .add-friend-marker,
  #tutorial .tutorial-screen.step2,
  #tutorial .tutorial-screen.step3 {
    width: 405px;
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .step-2,
  #tutorial .step-3,
  #tutorial .add-friend-marker,
  #tutorial .tutorial-screen.step2,
  #tutorial .tutorial-screen.step3 {
    width: 420px;
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial .step-4,
  #tutorial .tutorial-screen.step4,
  #tutorial .step-5,
  #tutorial .tutorial-screen.step5 {
    margin-left: 405px;
    width: calc(100% - 405px);
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .step-4,
  #tutorial .tutorial-screen.step4,
  #tutorial .step-5,
  #tutorial .tutorial-screen.step5 {
    margin-left: 420px;
    width: calc(100% - 420px);
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial ul {
    margin: 0;
    display: inline-block;
  }

  #tutorial li {
    float: left;
    color: #d32f2f;
    text-align: center;
  }

  #tutorial li:not(:last-child) {
    border-right: 2px solid #d32f2f;
  }

  #tutorial .step-buttons {
    text-align: right;
    padding: 0 0.75rem 0.75rem 0;
  }

  #tutorial .step-buttons a:first-of-type {
    margin-right: 0.75rem;
  }

  #tutorial .step-1 {
    width: 100%;
    height: 283px;
  }

  #tutorial .step-1 .red {
    margin-right: 0.75rem;
  }

  #tutorial .step-2 {
    top: 190px;
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .step-2 {
    top: 197px;
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial .step-2 ul {
    width: 100%;
    padding: 0.75rem 0;
    display: inline-block;
    border: 2px solid #d32f2f;
    float: left;
  }

  #tutorial .step-2 li {
    width: 25%;
    font-size: 18px;
  }

  #tutorial .step-2 .tutorial-text {
    border: 2px solid #d32f2f;
    border-top: none;
    padding: 0.75rem;
  }

  #tutorial .step-2 .tutorial-text h2 {
    margin-top: 0.75rem;
    font-weight: bold;
  }

  #tutorial .step-3 {
    top: 195px;
    border: 2px solid #d32f2f;
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .step-3 {
    top: 200px;
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial .step-3 .friend-item {
    border-bottom: 2px solid #d32f2f;
    margin-top: 48px;
  }
}

@media only screen and (min-width: 64.0625em) and (min-width: 1200px) {
  #tutorial .step-3 .friend-item {
    margin-top: 53px;
  }
}

@media screen and (min-width: 64.0625em) {
  #tutorial .step-3 h2 {
    margin-top: 0.75rem;
    font-weight: bold;
  }

  #tutorial .step-3 ul.friend-info {
    width: 100%;
    border-bottom: 2px solid #d32f2f;
  }

  #tutorial .step-3 ul.friend-info li {
    padding: 0.75rem 0;
    width: 36%;
    font-weight: bold;
  }

  #tutorial .step-3 ul.friend-info li:first-of-type {
    width: 28%;
  }

  #tutorial .step-3.add-friend-marker {
    position: absolute;
    z-index: 1002;
    top: auto;
    bottom: 0;
    height: 69px;
    border: 2px solid #d32f2f;
  }

  #tutorial .step-4 {
    margin-top: 90px;
    padding-top: 280px;
    border: 2px solid #d32f2f;
    border-top: none;
  }

  #tutorial .step-4 h2 {
    margin-top: 1.5rem;
    font-weight: bold;
  }

  #tutorial .step-4 .tutorial-text {
    border-top: 2px solid #d32f2f;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
  }

  #tutorial .step-4 ul.chat-info {
    width: 100%;
  }

  #tutorial .step-4 ul.chat-info li {
    width: 33%;
    padding: 0.75rem 0;
    font-size: 20px;
    font-weight: bold;
  }

  #tutorial .step-5 {
    border: 2px solid #d32f2f;
    bottom: 100px;
  }

  #tutorial .step-5 h2 {
    font-weight: bold;
  }

  #tutorial .step-5 .tutorial-text {
    width: 100%;
  }
}

.tutorial-theme {
  z-index: 1000 !important;
}

html,
body {
  height: 100vh;
}

.fixed-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.fixed-container #content {
  height: 100%;
  margin-bottom: 0;
  margin-left: 0;
}

@media only screen and (min-width: 993px) {
  .fixed-container #content {
    margin-left: 28rem;
  }
}

.fixed-container #content .content-div {
  height: 100%;
  position: relative;
}

.fixed-container #content .content-div .nav-extended {
  position: absolute;
}

.fixed-container #content .content-div .content-body {
  height: 100%;
}

.fixed-container #content .content-div .content-body .tab-item {
  height: 100%;
  padding-top: 6rem;
}

.fixed-container #content .content-div .content-body #no-content.active {
  background: white;
  position: absolute;
  z-index: 6;
  text-align: center;
}

.fixed-container #content .content-div .content-body #no-content.active .bubble-icon {
  color: #ececec;
  font-size: 90px;
}

.fixed-container #content .content-div .content-body #no-content.active .bubble-icon p {
  position: absolute;
  font-family: roboto;
  top: 0;
  font-size: 13px;
  font-weight: bold;
  color: #b7b7b7;
  margin-left: 11px;
  margin-top: 17px;
}

.fixed-container #content .content-div .content-body #no-content.active .bubble-icon p:last-child {
  margin-top: 57px;
  margin-left: 63px;
}

.fixed-container #content .content-div .content-body #load-content.active {
  z-index: 9;
  background: white;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.fixed-container #content .content-div .content-body #load-content.active .message-loader {
  height: 100%;
}

#content .nav-extended {
  z-index: 10;
}

#content .nav-content {
  height: 6rem;
  position: relative;
}

#content .nav-content .tabs {
  height: 100%;
}

#content .nav-content .tabs a {
  padding: 0 0.75rem;
  height: 100%;
}

#content .nav-content .tabs a i,
#content .nav-content .tabs a span {
  display: inline-block;
}

#content .nav-content .tabs a i {
  vertical-align: top;
  font-size: 30px;
  margin: 0 0.75rem;
  line-height: 50px;
  height: 50px;
  font-size: 29px;
}

#content .nav-content .tabs .tab {
  height: 100%;
}

#content .nav-content .tabs .tab span {
  font-size: 1.5rem;
  display: none;
}

@media screen and (min-width: 64.0625em) {
  #content .nav-content .tabs .tab span {
    display: inline-block;
    max-width: 70%;
  }
}

#content .nav-content .tabs .indicator {
  height: 5px;
}

#content .nav-content .hamburger-tab {
  height: 100%;
}

#content .nav-content .hamburger {
  margin: 0;
}

#content .nav-content .hamburger:hover {
  background: none;
}

#content .chat-box {
  padding-bottom: 5rem;
  height: 100%;
}

#content .chat-box .chat {
  height: 100%;
  margin-right: 6rem;
  overflow-y: scroll;
}

#content .emoji-popup {
  position: absolute;
  margin-top: -8.5rem;
  padding-right: 84px;
  z-index: 9;
}

@media screen and (min-width: 47.9375em) {
  #content .emoji-popup {
    margin-top: -7rem;
  }
}

#content .emoji-popup a {
  cursor: pointer;
}

#content .message-scroll-container {
  overflow-x: hidden;
}

#content .message-wrapper {
  width: 100%;
}

#content .message-wrapper,
#content .message-wrapper .right,
#content .message-wrapper .left,
#content .message-wrapper .message,
#content .message-wrapper .image {
  display: inline-block;
}

#content .message-wrapper:last-child .message-block {
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 47.9375em) {
  #content .message-wrapper:last-child .message-block {
    padding-bottom: 2rem;
  }
}

#content .message-wrapper .message-block {
  width: 100%;
}

#content .message-wrapper .message-container {
  max-width: 82%;
}

#content .message-wrapper .message-container .bubble-icon {
  position: absolute;
  font-size: 20px;
  margin: 0;
  bottom: 0px;
  right: -3px;
  z-index: 8;
}

#content .message-wrapper .message-container .bubble-icon .path2:before {
  color: #ececec;
}

#content .message-wrapper .message-container .bubble-icon.left {
  left: -3px;
  top: 0px;
}

#content .message-wrapper .text-container {
  position: relative;
}

#content .message-wrapper .user-name {
  margin: 0 25px;
}

#content .message-wrapper .message {
  margin: 0;
  min-height: 5rem;
  min-width: 7rem;
  border: 2px solid #ececec;
  box-shadow: none;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .message-wrapper .message.right {
  margin-right: 24px;
}

#content .message-wrapper .message.left {
  margin-left: 24px;
}

#content .message-wrapper .message p {
  margin: 0;
  padding: 0 1.5rem;
  text-align: left;
  word-break: break-word;
  max-width: 100%;
}

#content .message-wrapper .image {
  width: 5rem;
  height: 5rem;
  margin-top: 1.5rem;
}

#content .chat-input {
  position: relative;
  bottom: 5rem;
  margin-right: 6rem;
  display: block;
}

#content .chat-input input:focus {
  border-bottom: none;
}

#content .chat-input .insert-emo i {
  color: #252525;
  position: absolute;
  padding: 0 20px;
  height: 54px;
  line-height: 54px;
  opacity: .7;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  #content .chat-input .insert-emo i {
    height: 64px;
    line-height: 64px;
  }
}

#content .chat-input .input-field {
  border: 2px solid transparent;
}

#content .chat-input .input-field #message-text {
  margin: 0;
  color: #636363;
}

#content .chat-input .input-field label.active ~ .material-icons {
  color: #444;
}

#content .chat-input .input-field label.active .material-icons {
  color: #444;
}

#content .chat-input .input-field .send {
  color: white;
  margin-top: 0;
}

#content .filter {
  right: 0;
  top: 0;
  height: 100vh;
  width: 6rem;
  padding-top: 6rem;
  position: absolute;
}

#content .filter form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .filter ul {
  overflow-x: hidden;
  height: auto;
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0.75rem;
  width: 100%;
}

#content .filter ul .filter-button-container {
  text-align: center;
  margin-top: 0.75rem;
  width: 100%;
}

#content .filter ul .btn-floating {
  vertical-align: top;
}

#content .filter ul .no-button {
  top: auto;
  left: auto;
  width: 3rem;
  height: 3rem;
}

#content .filter .side-nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  position: relative;
  width: inherit;
  height: 100%;
  padding: 0;
  z-index: 5;
}

#chat-settings .margin-div {
  height: 100%;
}

#chat-settings .settings-layout {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

#chat-settings .settings-layout .card-content p {
  float: left;
}

#chat-settings .settings-layout .card-content .right {
  float: right;
}

#bubble #chat-settings .settings-layout {
  overflow-x: hidden;
}

@media screen and (min-width: 47.9375em) {
  #bubble #chat-settings .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

#bubble #chat-settings .card-content {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 24px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #bubble #chat-settings .card-content {
    padding-right: 16px;
  }
}

@supports (-ms-ime-align: auto) {
  #bubble #chat-settings .card-content {
    padding-right: 24px;
  }
}

#bubble #chat-settings .card-content > p {
  font-size: 18px;
}

#bubble #chat-settings .card-content.solid-block {
  height: auto;
}

@media screen and (min-width: 47.9375em) {
  #bubble #chat-settings .card-content.solid-block {
    height: 50px;
  }
}

#bubble #chat-settings .card-content.solid-block .right {
  float: none !important;
  margin: auto;
  display: block;
}

@media screen and (min-width: 47.9375em) {
  #bubble #chat-settings .card-content.solid-block .right {
    float: right !important;
    display: inline-block;
  }
}

#bubble #chat-settings .card-content > .text-block-center:first-child {
  display: block;
  float: none;
  text-align: center;
}

@media screen and (min-width: 47.9375em) {
  #bubble #chat-settings .card-content > .text-block-center:first-child {
    text-align: left;
    float: left;
    height: 50px;
    line-height: 50px;
  }
}

#bubble #chat-settings .card-content .bubble-editName {
  margin-right: .65rem;
}

#bubble #chat-settings .card-content a.bubble-editButton,
#bubble #chat-settings .card-content .edit a.bubble-editButton {
  vertical-align: top;
}

#bubble #chat-settings .card-content .bubble-editInput a.bubble-editButton {
  vertical-align: middle;
  margin-top: 0;
}

@media screen and (max-width: 47.9375em) {
  #bubble #chat-settings .card-content .bubble-editName {
    text-align: center;
    display: block;
    margin-right: -9px;
    width: 103%;
  }

  #bubble #chat-settings .card-content .bubble-editName a.bubble-editButton {
    margin-top: 5px;
  }

  #bubble #chat-settings .card-content .bubble-editName.edit a.bubble-editButton {
    margin-right: 0;
  }

  #bubble #chat-settings .card-content .bubble-editName.edit p {
    width: calc(100% - 76px) !important;
    margin-left: 0;
  }

  #bubble #chat-settings .card-content .bubble-editName p {
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    float: none;
    text-align: left;
    display: inline-block;
  }

  #bubble #chat-settings .card-content .bubble-editInput {
    right: auto;
    left: auto;
    text-align: center;
    width: calc(100% - 30px);
  }

  #bubble #chat-settings .card-content .bubble-editInput.edit input {
    width: calc(100% - 110px);
  }

  #bubble #chat-settings .card-content .bubble-editInput input {
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    width: 0;
  }
}

#bubble #chat-settings .solid-block {
  height: 50px;
}

#bubble #chat-settings .text-block-center {
  height: 50px;
  line-height: 50px;
}

#bubble #chat-settings .settings-btn {
  width: 13rem;
}

#bubble #chat-settings .header {
  height: 50px;
  border-bottom: 1px solid #d32f2f;
  margin-bottom: 0.75rem;
}

#bubble #chat-settings .header p {
  height: 50px;
  line-height: 50px;
  margin-left: .9rem;
  color: #d32f2f;
  font-size: 18px;
}

#bubble #chat-settings .header p:last-child {
  margin-right: 8px;
}

#bubble #chat-settings .header p:first-child {
  margin-left: 0;
}

#bubble #chat-settings .actions {
  display: inline-block;
  height: 50px;
}

#bubble #chat-settings .actions .usage {
  margin-right: 1.5rem;
}

#bubble #chat-settings .actions .checkbox {
  height: 50px;
  margin: 0 1.5rem;
}

#bubble #chat-settings .actions .checkbox label {
  padding-left: 20px;
  height: 20px;
}

#bubble #chat-settings .actions .delete {
  width: 20px;
  cursor: pointer;
  margin: 0 1.5rem;
}

#bubble #chat-settings .actions .delete i {
  padding: 0;
  margin-left: -5px;
}

#bubble #chat-settings .theme-settings .theme-info {
  height: 50px;
  display: inline-block;
}

#bubble #chat-settings .theme-settings .theme-info p {
  vertical-align: top;
  height: 50px;
  line-height: 50px;
  margin-left: 0.75rem;
}

#themes .input-field input[type=text].ng-invalid.ng-touched {
  border-bottom: 1px solid #E53935;
  box-shadow: 0 1px 0 0 #E53935;
}

#themes .input-field input[type=text].ng-invalid.ng-touched + label {
  color: #E53935;
}

#themes .input-field input[type=text].ng-valid.ng-touched {
  border-bottom: 1px solid #26A69A;
  box-shadow: 0 1px 0 0 #26A69A;
}

#themes .new-theme-color li {
  display: inline-block;
}

#themes .white {
  box-shadow: none;
}

#themes .new-theme-icon [type="radio"]:checked ~ i,
#themes .new-theme-icon input[type="radio"]:not(:checked) ~ a,
#themes .new-theme-shortcut [type="radio"]:checked ~ i,
#themes .new-theme-shortcut input[type="radio"]:not(:checked) ~ a {
  color: white !important;
}

#themes .new-theme-icon input[type="radio"]:not(:checked) ~ i,
#themes .new-theme-icon [type="radio"]:checked ~ a,
#themes .new-theme-shortcut input[type="radio"]:not(:checked) ~ i,
#themes .new-theme-shortcut [type="radio"]:checked ~ a {
  background-color: white !important;
  color: #d32f2f;
}

#themes .new-theme-icon .new-shortcut,
#themes .new-theme-shortcut .new-shortcut {
  position: relative;
}

#themes .new-theme-icon i,
#themes .new-theme-shortcut i {
  box-shadow: none;
}

#themes .new-theme-icon a,
#themes .new-theme-shortcut a {
  line-height: 33px;
  padding: 0 .5rem;
}

#themes .ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 1;
}

#themes .ink.animate {
  -webkit-animation: ripple .3s linear;
  animation: ripple .3s linear;
}

@-webkit-keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

#themes {
  overflow: scroll;
  position: relative;
  display: block !important;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

#themes.active {
  z-index: 0;
  position: relative;
  opacity: 1;
}

#themes .margin-div {
  height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #themes .margin-div {
    padding-right: 5px;
  }
}

@supports (-ms-ime-align: auto) {
  #themes .margin-div {
    padding-right: 0.75rem;
  }
}

#themes .margin-div .card:first-child {
  margin-top: 0;
}

#themes h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 1rem;
}

#themes .theme-card {
  padding: 0.75rem;
  overflow: hidden;
  max-height: 121px;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

#themes .theme-card.open,
#themes .theme-card.open-slider {
  max-height: 1400px;
}

@media only screen and (max-width: 1190px) and (min-width: 1025px) {
  #themes .theme-card.open,
  #themes .theme-card.open-slider {
    max-height: 750px !important;
  }
}

@media screen and (min-width: 47.9375em) {
  #themes .theme-card.open,
  #themes .theme-card.open-slider {
    max-height: 675px;
  }
}

#themes .theme-card .right-side,
#themes .theme-card .left-side {
  width: 50%;
  display: inline-block;
}

#themes .theme-card h2 {
  vertical-align: top;
  margin-top: .5rem;
  width: calc(100% - 63px);
  margin-right: 0;
  margin-top: 10px;
}

#themes .theme-card .theme-line {
  height: 50px;
}

#themes .theme-card .theme-line:nth-child(2) .left-side {
  width: 68%;
}

#themes .theme-card .theme-line:nth-child(2) .right-side {
  width: 32%;
}

#themes .theme-card .theme-status {
  display: inline-block;
  float: left;
  opacity: 1;
  margin: 0 0.75rem;
  margin-top: 11px;
  margin-bottom: 0;
  width: calc(100% - 63px);
  -webkit-transition: opacity 1s linear 2s;
  transition: opacity 1s linear 2s;
}

#themes .theme-card .theme-status.fadeout {
  opacity: 0;
}

#themes .theme-card .theme-status.hidden {
  height: 0;
  overflow: hidden;
  -webkit-transition: none;
  transition: none;
}

#themes .theme-card .edit-theme {
  margin-top: 2px;
}

#themes .theme-card .edit-theme i {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#themes .theme-card .edit-theme i:last-child {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
}

#themes .theme-card .edit-theme.exit-theme i:first-child {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 11px;
}

#themes .theme-card .edit-theme.exit-theme i:last-child {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#themes .theme-card .key {
  margin-top: 11px;
  margin-left: 5px;
  font-size: 30px;
}

#themes .theme-card .keywords {
  width: calc(100% - 65px);
}

#themes .theme-card .keywords,
#themes .theme-card .shortcut {
  vertical-align: top;
  margin: 0;
  height: 100%;
  margin-left: 1.8rem;
  line-height: 50px;
}

#themes .theme-card .shortcut {
  margin-right: 3px;
}

#themes .theme-card .all-letters {
  text-align: center;
  padding: 0 3px;
  margin: 0 1.5rem;
  padding-left: 0px;
  padding-right: 3.8px;
}

#themes .theme-card .all-letters .waves-ripple {
  display: none;
}

#themes .theme-card .all-letters .new-shortcut a {
  box-shadow: none;
  border-radius: 0;
  margin-right: -4px;
}

#themes .submit-theme {
  padding: 0;
  margin: 1.5rem 0 0.75rem 0;
}

#themes .submit-theme input {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

#themes .new-theme {
  overflow: hidden;
  max-height: 4.3rem;
  -webkit-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}

#themes .new-theme form {
  margin-bottom: 0;
}

#themes .new-theme h2 {
  margin-top: .8rem;
  margin-left: 0.75rem;
}

#themes .new-theme .arrow-toggle i {
  margin-top: .2rem;
  font-size: 35px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#themes .new-theme .arrow-toggle i.close {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#sidebar {
  width: 300px;
  overflow-y: hidden;
}

@media screen and (min-width: 64.0625em) {
  #sidebar {
    width: 28rem;
  }
}

#sidebar .sidebar {
  height: 100%;
  float: left;
  width: 100%;
  overflow-y: hidden;
}

#sidebar .sidebar header {
  position: absolute;
  z-index: 100;
  width: 100%;
}

#sidebar .sidebar header .profile-info {
  padding: 1.5rem 0rem;
  color: white;
}

#sidebar .sidebar header .profile-info .user-info {
  margin-left: 8.2rem;
}

#sidebar .sidebar header .profile-info .bubble-username {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-top: 1.1rem;
  max-width: 40vw;
}

#sidebar .sidebar header .profile-info .bubble-email {
  display: block;
  font-size: 1.3rem;
  margin-top: 8px;
  max-width: 40vw;
}

#sidebar .sidebar header .profile-info .img-overflow {
  margin-left: 0.75rem;
}

#sidebar .sidebar header nav div:not(.indicator),
#sidebar .sidebar header nav ul {
  height: 100%;
}

#sidebar .sidebar header nav div:not(.indicator) .tab,
#sidebar .sidebar header nav ul .tab {
  width: 25%;
}

#sidebar .sidebar header nav div:not(.indicator) .tab a.active i,
#sidebar .sidebar header nav ul .tab a.active i {
  color: #fff !important;
}

#sidebar .sidebar header nav div:not(.indicator) .tab .profile:before,
#sidebar .sidebar header nav ul .tab .profile:before {
  font-size: 28px;
}

#sidebar .sidebar header nav div:not(.indicator) .tab .group:before,
#sidebar .sidebar header nav ul .tab .group:before {
  font-size: 32px;
}

#sidebar .sidebar header nav div:not(.indicator) .tab a,
#sidebar .sidebar header nav ul .tab a {
  text-align: center;
}

#sidebar .sidebar header nav div:not(.indicator) .tab i,
#sidebar .sidebar header nav ul .tab i {
  padding: 0;
  display: inline-table;
  margin: auto;
  float: none !important;
}

#sidebar .sidebar header nav div:not(.indicator) .tab .countRequest,
#sidebar .sidebar header nav ul .tab .countRequest {
  background-color: #b71c1c;
  padding: 0 6px;
  color: white;
  border: 2px solid #e53935;
  border-radius: 50%;
  min-width: 20px;
  height: 23px;
  line-height: 20px;
  display: inline-block;
  margin-top: 16px;
  margin-left: -16px;
}

#sidebar .sidebar .side-nav-content {
  height: 100%;
  width: 100%;
  padding-top: 13.3rem;
  float: left;
}

#sidebar .sidebar .side-nav-content .tab-item {
  display: inline-block;
  height: 100%;
}

.friend-item {
  height: 50px;
  cursor: pointer;
}

.friend-item.active .friend-name {
  color: #d32f2f;
  padding-left: 2rem;
}

.friend-item.active .friend-name:before {
  opacity: 1;
}

.friend-item .friend-name {
  -webkit-transition: padding-left 0.3s ease-in-out;
  transition: padding-left 0.3s ease-in-out;
  display: inline-block;
  margin: 0;
  line-height: 50px;
  max-width: 90%;
  padding-left: 0.75rem;
}

.friend-item .friend-name:before {
  -webkit-transition: opacity 0.1s ease-in-out 0.1s;
  transition: opacity 0.1s ease-in-out 0.1s;
  opacity: 0;
  font-family: 'Bubble-icons' !important;
  color: #d32f2f;
  opacity: 0;
  speak: none;
  font-size: 20px;
  margin-top: 15px;
  left: .6rem;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "=";
}

.online-state {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  float: right;
  margin-right: 1.5rem;
}

.online-state.online {
  background-color: #1de9b6;
}

.online-state.offline {
  border: 2px solid gray;
}

.unread-messages {
  display: inline-block;
  line-height: 21px;
  text-align: center;
  background-color: #b71c1c;
  margin-left: 0.75rem;
  vertical-align: top;
  color: white;
  min-width: 20px;
  padding: 0 6px 0 5px;
  height: 20px;
  border-radius: 20px;
}

#friends .friends,
#groups .friends {
  height: calc(100% - 125px);
  overflow: hidden;
  overflow-y: scroll;
  z-index: 21;
  position: relative;
}

#friends .friends ul:first-of-type,
#groups .friends ul:first-of-type {
  margin: 0;
}

#friends .button-close-nav,
#groups .button-close-nav {
  padding: 0;
}

#friends .request li,
#groups .request li {
  padding-bottom: 1rem;
  margin-bottom: 0;
  -webkit-animation: request 1.5s;
          animation: request 1.5s;
  overflow: hidden;
  -webkit-animation: open-request 1s 1;
  animation: open-request 1s 1;
}

@-webkit-keyframes open-request {
  0% {
    max-height: 0px;
    opacity: 0;
  }

  100% {
    max-height: 170px;
    opacity: 1;
  }
}

@keyframes open-request {
  0% {
    max-height: 0px;
    opacity: 0;
  }

  100% {
    max-height: 170px;
    opacity: 1;
  }
}

#friends .request .request-head,
#groups .request .request-head {
  height: 50px;
}

#friends .request .request-head .bubble-icon.friend,
#groups .request .request-head .bubble-icon.friend {
  margin-top: 12px;
}

#friends .request .request-head .bubble-icon.group,
#groups .request .request-head .bubble-icon.group {
  font-size: 35px;
}

#friends .request .request-head p,
#groups .request .request-head p {
  font-weight: 500;
  vertical-align: top;
  margin: 0;
  margin-left: 15px;
}

#friends .request .groupname,
#groups .request .groupname {
  margin: 0;
  margin-left: 1rem;
  max-width: 90%;
  font-weight: 500;
  font-size: 18px;
}

#friends .request .buttons,
#groups .request .buttons {
  text-align: center;
}

#friends .request .buttons a,
#groups .request .buttons a {
  width: 45%;
  margin: 0;
  display: inline-block;
}

#friends .request .buttons a:first-child,
#groups .request .buttons a:first-child {
  margin-right: 1rem;
}

#friends .bottom,
#groups .bottom {
  position: absolute;
  width: 100%;
  z-index: 22;
  top: calc(100% - 200px);
  height: 13rem;
  overflow: hidden;
  overflow-y: hidden;
  -webkit-transition: top 0.8s ease-in-out, height 0.8s ease-in-out, z-index 0.8s ease-in-out;
  transition: top 0.8s ease-in-out, height 0.8s ease-in-out, z-index 0.8s ease-in-out;
}

#friends .bottom.full,
#groups .bottom.full {
  z-index: 50;
  height: calc(100% - 105px);
  top: 105px;
}

@media only screen and (min-width: 600px) {
  #friends .bottom.full,
  #groups .bottom.full {
    height: calc(100% - 115px);
    top: 115px;
  }
}

#friends .bottom.full .search-new-friends,
#groups .bottom.full .search-new-friends {
  margin-top: 10px;
  height: 64px;
}

#friends .bottom.full .collection,
#groups .bottom.full .collection {
  opacity: 1;
}

#friends .bottom h2,
#groups .bottom h2 {
  font-size: 18px;
  border-bottom: 1px solid #ececec;
}

#friends .bottom .collection,
#groups .bottom .collection {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

#friends .bottom .collection .collection-item,
#groups .bottom .collection .collection-item {
  display: inline-block;
  padding: 0;
  padding-left: 20px;
  width: 100%;
  float: left;
}

#friends .bottom .collection .name,
#groups .bottom .collection .name {
  float: left;
}

#friends .bottom .collection a,
#groups .bottom .collection a {
  float: right;
  padding: 0 0 0 0.75rem;
  margin-right: 0.75rem;
}

#friends .bottom .collection a:hover,
#groups .bottom .collection a:hover {
  background-color: transparent;
}

#friends .bottom .collection a i,
#groups .bottom .collection a i {
  margin: auto;
}

#friends .bottom .search-new-friends,
#groups .bottom .search-new-friends {
  margin-top: -80px;
  height: 0;
  padding-top: 10px;
  -webkit-transition: margin-top 0.4s ease-in-out 0.7s, height 0s ease-in-out 0.7s;
  transition: margin-top 0.4s ease-in-out 0.7s, height 0s ease-in-out 0.7s;
}

#friends .bottom .search-new-friends.remove,
#groups .bottom .search-new-friends.remove {
  -webkit-transition: margin-top 0.4s ease-in-out 0.2s, height 0.3s ease-in-out 0.2s;
  transition: margin-top 0.4s ease-in-out 0.2s, height 0.3s ease-in-out 0.2s;
}

#friends .bottom .white,
#groups .bottom .white {
  height: 100%;
}

#friends .bottom .btn,
#groups .bottom .btn {
  margin: 10px 0;
}

#friends .bottom .add-friend,
#groups .bottom .add-friend {
  -webkit-transition: all 0.8s ease-in-out, line-height 0.4s;
  transition: all 0.8s ease-in-out, line-height 0.4s;
  padding: 0 35%;
  text-align: left;
}

@media only screen and (max-width: 373px) {
  #friends .bottom .add-friend,
  #groups .bottom .add-friend {
    padding: 0 31%;
  }
}

#friends .bottom .add-friend.create-group,
#groups .bottom .add-friend.create-group {
  padding: 0 40%;
}

@media screen and (min-width: 64.0625em) {
  #friends .bottom .add-friend.create-group,
  #groups .bottom .add-friend.create-group {
    padding: 0 35%;
  }
}

#friends .bottom .add-friend.button-header,
#groups .bottom .add-friend.button-header {
  color: black;
  cursor: auto;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  height: 54px;
  line-height: 54px;
  padding: 0 0.75rem;
  margin: 0 -.75rem 10px -.75rem;
}

#friends .bottom .add-friend.button-header i,
#groups .bottom .add-friend.button-header i {
  opacity: 1;
  cursor: pointer;
  padding-right: 20px;
  margin-right: 16px;
  pointer-events: auto;
  height: 100%;
}

#friends .bottom .add-friend.delayed-properties,
#groups .bottom .add-friend.delayed-properties {
  text-transform: none;
}

#friends .bottom .add-friend i,
#groups .bottom .add-friend i {
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
  color: black;
  float: right;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#friends .bottom .search-friends,
#groups .bottom .search-friends {
  -webkit-transition: margin-top .8s ease-in-out;
  transition: margin-top .8s ease-in-out;
  z-index: 0;
}

#friends .bottom .close-search,
#groups .bottom .close-search {
  font-size: 20px;
  padding-right: 2px;
}

#friends .bottom .newGroupFriends,
#groups .bottom .newGroupFriends {
  border-width: 1px !important;
}

#friends .bottom .newGroupFriends:not(:first-of-type),
#groups .bottom .newGroupFriends:not(:first-of-type) {
  margin-top: -1px;
}

#friends .bottom .submit-group-form,
#groups .bottom .submit-group-form {
  height: 48px;
  margin-bottom: 1.3rem;
  font-weight: 500;
}

#friends .bottom #createGroupForm,
#groups .bottom #createGroupForm {
  height: calc(100% - 196px);
  overflow-y: scroll;
  margin-right: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#friends .bottom #createGroupForm ul,
#groups .bottom #createGroupForm ul {
  overflow-y: scroll;
  display: table;
  width: 100%;
}

#friends .bottom #createGroupForm ul li,
#groups .bottom #createGroupForm ul li {
  display: table-cell;
}

#friends .bottom #createGroupForm .createGroupBottom,
#groups .bottom #createGroupForm .createGroupBottom {
  margin-top: auto;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#bubble #profile .fullh {
  height: 100%;
}

#bubble #profile .sidebar-container {
  display: inline-block;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
  padding-bottom: 51px;
}

#bubble #profile .img-container {
  margin: 4vw auto;
  width: 9rem;
  height: 9rem;
}

#bubble #profile .img-container input {
  opacity: 0;
}

#bubble #profile .img-overflow {
  width: 9rem;
  height: 9rem;
  cursor: pointer;
}

#bubble #profile .img-overflow .edit-overlay {
  position: absolute;
  min-width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

#bubble #profile .img-overflow #profilepicUpload {
  display: none;
}

#bubble #profile .img-overflow .profile-pic {
  z-index: -1;
}

#bubble #profile .img-overflow .edit-overlay i,
#bubble #profile .img-overflow .edit-text {
  opacity: 0;
}

#bubble #profile .img-overflow:hover .edit-overlay {
  background-color: rgba(72, 72, 72, 0.53);
  opacity: 1;
  z-index: 5;
  text-align: center;
}

#bubble #profile .img-overflow:hover .edit-overlay .edit-text {
  margin: 0;
  opacity: 1;
  vertical-align: top;
  margin-right: 0.375rem;
}

#bubble #profile .img-overflow:hover .edit-overlay .edit-text,
#bubble #profile .img-overflow:hover .edit-overlay i {
  opacity: 1;
  display: inline-block;
  font-size: 18px;
  color: white;
}

#bubble #profile .btn {
  height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#bubble #profile .buttons {
  margin: 0;
}

#bubble #profile .solid-block {
  height: 60px;
}

#bubble #profile .solid-block p {
  margin: 0;
  margin-top: -5px;
}

#bubble #profile .profile-padding-bottom {
  padding-bottom: 70px;
}

#bubble #profile .bubble-editName {
  width: 100%;
}

#bubble #profile .username {
  border-bottom: 2px solid #ececec;
}

#bubble #profile .relative-container {
  position: relative;
}

#bubble #profile .bubble-editInput {
  right: 0;
  padding: 0;
  width: 100%;
}

#bubble #profile .bubble-editInput input {
  padding-top: 5px;
  width: 60%;
}

.side-nav-content .side-header {
  font-size: 20px;
  margin: 0;
  padding: 1rem 0.75rem;
  font-weight: 500;
}

.side-nav-content #logout-tab a {
  margin-top: 1.5rem;
}

#bubble {
  height: 100%;
}

#bubble #login-page {
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 25.9375em) {
  #bubble #login-page {
    width: 30rem;
  }
}

#bubble #login-page .logo {
  text-align: center;
  width: 100%;
}

@media screen and (max-height: 37.5em) {
  #bubble #login-page .logo {
    margin-bottom: -50px;
  }
}

#bubble #login-page .logo svg {
  margin-bottom: 40px;
}

@media screen and (max-width: 25.9375em) {
  #bubble #login-page .logo svg {
    width: 60%;
  }
}

#bubble #login-page .btn {
  height: 48px;
  line-height: 48px;
}

#bubble #login-page .form-container {
  height: 470px;
  margin: auto;
  width: 90%;
}

@media screen and (min-width: 25.9375em) {
  #bubble #login-page .form-container {
    width: 100%;
    width: 25rem;
  }
}

#bubble #login-page .form-container .form-box {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.25);
}

#bubble #login-page .form-container .nav-extended {
  width: 100%;
}

#bubble #login-page .form-container .nav-extended .tabs {
  overflow-x: hidden;
}

#bubble #login-page .form-container .nav-extended .indicator {
  background: #b71c1c;
}

#bubble #login-page .form-container .panel-default {
  background: white;
  width: 100%;
}

#bubble #login-page .form-container .form-horizontal {
  display: inline-block;
  padding: 0.75rem 0;
}

/* @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; */