#content{
	.nav-extended{
		z-index: 10;
	}	
	
	.nav-content{
		height: $content-nav-height;
		position: relative;

		.tabs{
			height: 100%;

			a {
				padding: 0 $gutter;

				i, span {
					display: inline-block;
				}

				span {
				}

				i {
					vertical-align: top;
					font-size: 30px;
					margin: 0 $gutter;
					line-height: 50px;
					height: 50px;
					font-size: 29px;
				}
			}

			.tab span {
				font-size: $font-large;
				display: none;

				@include media($large-screen-up) {
					display: inline-block;
					max-width: 70%;
				}
			}

			.indicator{
				height: 5px;
			}
		}

		.hamburger{
			margin: 0;
		}
	}
}