#themes{
	overflow: scroll;
	position: relative;

	.margin-div{
		height: 100%;
		// scrollbar
	    @media screen and (-webkit-min-device-pixel-ratio:0) {  
			padding-right: 5px;
	    }
		@supports (-ms-ime-align:auto) {
			padding-right: $gutter;
		}

		& .card:first-child {
			margin-top: 0;
		}
	}

	h2{
		font-size: map-get($font, big);
		font-weight: bolder;
		margin: 1rem;

		@extend %first-capital;
	}



	.theme-card{
		padding: $gutter;
		overflow: hidden;
		max-height: 121px;
		@include transition(max-height .5s ease-out);

		&.open, &.open-slider{
			max-height: 1400px;

			@media only screen and (max-width:1190px) and (min-width: 1025px){
				max-height: 750px !important;
			}

			 @include media($medium-screen-up) {
				max-height: 675px;
			}
		}

		.right-side, .left-side{
			width: 50%;
			display: inline-block;
		}

		h2{
			vertical-align: top;
			margin-top: .5rem;
			width: calc(100% - 63px);
			margin-right: 0;
			margin-top: 10px;
		}
		
		.theme-line{
			height: 50px;
			&:nth-child(2){
				.left-side{
					width: 68%;
				}
				.right-side{
					width: 32%
				}
			}

		}
		
		.theme-status{
			display: inline-block;
			float: left;
			opacity: 1;
			margin: 0 $gutter;
			margin-top: 11px;
			margin-bottom: 0;
			width: calc(100% - 63px);
			@include transition(opacity 1s linear 2s);
			

			&.fadeout{
				opacity: 0;
			}

			&.hidden{
				height: 0;
				overflow: hidden;
				@include transition(none);
			}
		}
		.edit-theme{
			i{
				opacity: 1;
				@include transition(all .3s ease-out);

				&:last-child{
					left: 0;
					top: 0;
					position: absolute;
					opacity: 0;
				}
			}
			&.exit-theme i:first-child{
				opacity: 0;
				@include transform(rotate(90deg));
				font-size: 11px;
			}
			&.exit-theme i:last-child{
				opacity: 1;
				@include transform(rotate(90deg));
			}
		}

		.key{
			margin-top: 11px;
			margin-left: 5px;
			font-size: 30px;
		}

		.keywords{
			width: calc(100% - 65px);
		}

		.keywords, .shortcut{
			vertical-align: top;
			margin: 0;
			height: 100%;
			margin-left: 1.8rem;
			line-height: 50px;
		}

		.all-letters{
			text-align: center;
			padding: 0 3px;
			margin: 0 $gutter*2;
			
			.waves-ripple{
				display: none;
			}

			.new-shortcut a{
				box-shadow: none;
				border-radius: 0;
				margin-right: -4px;
			}
		}

	}

	.submit-theme {
		padding: 0;
		margin: $gutter*2 0 $gutter 0;

		input{
			width: 100%;
			height: 100%;
			padding: 0 2rem;
		}
	}

	.new-theme{
		overflow: hidden;
		max-height: 4.3rem;
		transition: max-height 1s ease-out;
		
		form{
			margin-bottom: 0;
		}

		h2{
			margin-top: .8rem;
			margin-left: $gutter;
		}

		.arrow-toggle i{
			margin-top: .2rem;
			font-size: 35px;
			@include transition(all .3s ease-out);

			&.close{
				@include transform(rotate(-180deg));
			}
		}
	}

}