#friends{
	.friends{
		height: 80%;
		overflow:hidden;
		z-index: -20;
		transition: height .8s ease-in-out;

		&.minimized{
			height: 0;
		}
	}
	.bottom{
		position: absolute;
		background-color: white;
		bottom: 0;
		height: 13rem;
		padding-top: 0;
		overflow: hidden;
		overflow-y: hidden;
		transition: height .8s ease-in-out, top .8s ease-in-out, padding-top .8s ease-in-out;

		&.full{
			height: 100%;
			padding-top: 143px;
		}

		.search-friends{
			transition: margin-top .8s ease-in-out;
			z-index: 0;
		}

		.search-new-friends{
			margin-top: 40px;
		}
	}
}