#chat-settings {
	.margin-div {
		height: 100%;
	}

	.settings-layout {
		height: 100%;
		margin: 0;
		overflow: scroll;

		.card-content {
			p {
				float: left;
			}

			.right {
				float: right;
			}
		}
	}
}